@model HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="row home-row">
    <div class="col-12">
        <div class="home-banner">
            <div class="home-banner-text">
                <h1 class="titleFont">Rosies Prylar</h1>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="home-welcome-text">
            <h2 class="home-welcome-text-title">Vintage Prylar</h2>
            <p class="home-welcome-text-text">Vintage prylar har en tidlös charm som lockar samlare och entusiaster världen över. Dessa föremål, ofta från en svunnen era, bär på en nostalgisk känsla och berättar historier om gångna tider. Från gamla vinylskivor och antika kameror till retrokläder och vintage möbler - utbudet är mångfaldigt. Att äga och använda vintage prylar ger en känsla av unikhet och autenticitet i en värld av massproducerade varor. Genom att återupptäcka och återanvända dessa föremål kan vi bevara historien och njuta av dess skönhet samtidigt som vi bidrar till en mer hållbar livsstil.</p>
        </div>
    </div>
    <div class="col-12">
        <div class="home-item-preview">
            <h2 class="home-item-preview-title">Senaste Föremålen</h2>

                <ul class="home-item-preview-container">
                    @foreach (var item in Model.MarketItems)
                    {
                      <a asp-controller="Market" asp-action="Item" asp-route-id="@item.Id">
                        <li>
                            <div class="home-market-item">
                                <div class="market-item-grid-image-container">
                                    @if (item.Images != null && item.Images?.Count > 0)
                                    {
                                        <img src="@item.Images.FirstOrDefault().Url" class="market-item-image" alt="Item Image">
                                    }
                                    else
                                    {
                                        <p>Ingen Bild</p>
                                    }
                                </div>
                                <div class="market-item-body home-market-item-body">
                                    <h5 class="market-item-title">@item.Title</h5>
                                    <div class="market-item-description">@item.Description </div>
                                    <div class="market-item-price">@(item.Price != null ? item.Price + " kr" : "")</div>
                                </div>
                            </div>
                        </li>
                     </a>
                    }
                </ul>
        </div>
    </div>
    <div class="col-12">
        <div class="home-more-info">
            <h2 class="home-more-info-title">Mer information</h2>
            <div class="row home-more-info-row gx-3">
                <div class="col-lg-4">
                    <div class="home-more-info-item">
                        <h3>En rubrik</h3>
                        <p>Vintage prylar har en tidlös charm som lockar samlare och entusiaster världen över. Dessa föremål, ofta från en svunnen era, bär på en nostalgisk känsla och berättar historier om gångna tider. Från gamla vinylskivor och antika kameror till retrokläder och vintage möbler - utbudet är mångfaldigt. Att äga och använda vintage prylar ger en känsla av unikhet och autenticitet i en värld av massproducerade varor. Genom att återupptäcka och återanvända dessa föremål kan vi bevara historien och njuta av dess skönhet samtidigt som vi bidrar till en mer hållbar livsstil.</p>
                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="home-more-info-item">
                        <h3>En rubrik</h3>
                        <p>Vintage prylar har en tidlös charm som lockar samlare och entusiaster världen över. Dessa föremål, ofta från en svunnen era, bär på en nostalgisk känsla och berättar historier om gångna tider. Från gamla vinylskivor och antika kameror till retrokläder och vintage möbler - utbudet är mångfaldigt. Att äga och använda vintage prylar ger en känsla av unikhet och autenticitet i en värld av massproducerade varor. Genom att återupptäcka och återanvända dessa föremål kan vi bevara historien och njuta av dess skönhet samtidigt som vi bidrar till en mer hållbar livsstil.</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="home-more-info-item">
                        <h3>En rubrik</h3>
                        <p>Vintage prylar har en tidlös charm som lockar samlare och entusiaster världen över. Dessa föremål, ofta från en svunnen era, bär på en nostalgisk känsla och berättar historier om gångna tider. Från gamla vinylskivor och antika kameror till retrokläder och vintage möbler - utbudet är mångfaldigt. Att äga och använda vintage prylar ger en känsla av unikhet och autenticitet i en värld av massproducerade varor. Genom att återupptäcka och återanvända dessa föremål kan vi bevara historien och njuta av dess skönhet samtidigt som vi bidrar till en mer hållbar livsstil.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
