@model IEnumerable<UserViewModel>;



<table class="table mt-3">
    <thead>
        <tr>
            <th scope="col">Email</th>
            <th scope="col">UserName</th>
            <th scope="col">Role</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Email</td>
                <td>@item.UserName</td>
                <td>
                    <form id="userRoleForm-@item.Id" method="post" asp-action="EditUserRole">
                        <input type="hidden" name="userId" value="@item.Id"/>
                        <select id="roleSelect-@item.Id" name="roleSelected" onchange="userRoleChanged('@item.Id')">
                            @await Component.InvokeAsync("RolesOptions", new { Selected = item.Role})
                        </select>
                    </form>
                </td>
                <td class="shrink">
                    <ul class="table-buttons">
                        <li>
                            <button type="button" disabled id="submitRoleChange-@item.Id" class="btn btn-outline-primary" onclick="onUpdateRole('@item.Id')"><i class="fas fa-save"></i></button>
                        </li>
                    </ul>                   
                </td>
            </tr>
        }

    </tbody>
</table>

@section scripts{
    <script>
        function userRoleChanged(userId) {
            $("#submitRoleChange-" + userId).prop("disabled", false);
        }

        function onUpdateRole(userId) {
            $("#userRoleForm-" + userId).submit();
        }
    </script>
}
